        .header {
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            right: 0;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 2rem;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(5px);
        }
        
        .header>div {
            display: flex;
            width: 100%;
            max-width: 992px;
            justify-content: space-between;
            align-items: center;
            /* background: var(--background); */
            color: var(--black);
        }
        
        .tittleHeader {
            font-family: 'Orbitron';
            margin: 1rem 0;
            text-align: center;
            color: var(--black);
        }
        
        .tittleHeader strong {
            font-weight: 600;
            color: var(--white);
        }
        
        .menu {
            display: flex;
            width: 80%;
            justify-content: flex-end;
            align-items: center;
        }
        
        .menu li {
            margin: 0 1rem;
            display: block;
            width: fit-content;
            position: relative;
        }
        
        .primaryButton {
            background: var(--purple);
            color: var(--white);
            padding: 0.5rem;
            border-radius: 5px;
            border: 0;
            transition: 0.3s;
        }
        
        .primaryButton:hover {
            background: var(--purple-secondary);
        }
        
        .secondaryButton {
            background: transparent;
            color: var(--black);
            border-color: var(--purple);
            padding: 0.5rem;
            border-radius: 5px;
            transition: 0.3s;
        }
        
        .secondaryButton:hover {
            background: var(--background-secondary);
        }
        
        @media(max-width: 425px) {
            .header {
                height: 4rem;
            }
        }