        .header {
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            right: 0;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 2rem;
            background: var(--background);
        }
        
        .header>div {
            display: flex;
            width: 100%;
            max-width: 992px;
            justify-content: space-between;
            align-items: center;
            background: var(--background);
            color: var(--black);
        }
        
        .tittleHeader {
            font-weight: 400;
            margin: 1rem 0;
            text-align: center;
            color: var(--red);
        }
        
        .tittleHeader strong {
            font-weight: 600;
            color: var(--white);
        }
        
        .menu {
            display: flex;
            width: 80%;
            justify-content: flex-end;
            align-items: center;
        }
        
        .menu li {
            margin: 0 1rem;
            display: block;
            width: fit-content;
            position: relative;
        }
        
        .menu li button {
            background: var(--purple);
            color: var(--white);
            padding: 0.5rem;
            border-radius: 5px;
        }
        
        @media(max-width: 425px) {
            .header {
                height: 4rem;
            }
        }